@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
// Colors
$c-primary--soft__orange: hsl(35, 77%, 62%);
$c-primary--soft__red: hsl(5, 85%, 63%);
$c-natural--off__white: hsl(36, 100%, 99%);
$c-natural--grayish__blue: hsl(233, 8%, 79%);
$c-natural-darkGrayish__blue: hsl(236, 13%, 42%);
$c-natural-veryDarkGrayish__blue: hsl(240, 100%, 5%);

// Typography
$ff-inter: "Inter", sans-serif;

$fw-normal: 400;
$fw-bold: 700;
$fw-superBold: 800;

$fz-para: 15px;

// Spacing
$mobile-padding_hz:1rem;
$desktop-padding : 3rem 6rem;